body{
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
}

main{
    padding: 30px;
    background-color: #f8f8f8;
}
p,h1{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: #262626;
}
.top-right-logo{
    margin: 15px 1px;
    padding: 15px;
}
.contentish{
    overflow-x: hidden;
    overflow-y: auto;
}


.nav-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 0 0px;
    text-decoration: none;
    color: white   ;
    font-family: Arial, Helvetica, sans-serif;
}

/* on hover change color */
.nav-button:hover{
    background-color: #1b1b1b;
}
.content-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 15px;
    margin: 30px 0 ;
    border: #c3c3c3 1px solid;
}
.first-header{
    width: 100%;
    padding: 15px 30px;
}
.movement{
    display: flex;
    text-decoration: none;
    margin: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.third-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.small{
    display:flex;
    justify-content: space-between;
}
.head-gray{
    color: #666666;
    margin: 20px 0;
}

.head-black{
    color: black;
    margin: 0;
}

.second-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border: #c3c3c3 1px solid;
    position: relative;
    box-shadow: 0px 5px 0 #ebebeb;
}



