body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden
}

.top-header {
  width: 100vw;
  height: 46px;
  background-color: #82624e;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  flex: 0 0 auto;
  margin: 45px 0px;
}

.frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 190px;
}

.logo {
  width: 118px;
  height: 29px;
}

.dece-df-de {
  width: 6em;
  height: 6em;
  object-fit: cover;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-right: 48px;
}

.header-2 a {
  text-decoration: none;
  font-family: "Poppins-Regular", Helvetica;
  text-align: center;
  white-space: nowrap;
  font-weight: 16px;
  color: black;
}
.header-2 {
  padding: 8px 16px;
  
}
.header-2:hover {
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  background-color: #ce9b7b;
}



.header-3 {
  position: relative;
  width: 48px;
  height: 24px;
}



.frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}



.frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.img {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.highlights-carousel-bg {
  background-color: #000000;
  padding: 50px 210px;
  margin: 30px 0;
  display:flex;
  align-items: center;
  gap:38px;  
}

.highlights-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: lightgrey 2px solid;
  border-top: lightgrey 2px solid;
}

.text-wrapper-3 {
  position: relative;
  width: 126px;
  height: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}


.text-wrapper-4 {
  width: 294px;
  font-family: var(--heading-48px-semibold-font-family);
  font-weight: var(--heading-48px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-48px-semibold-font-size);
  letter-spacing: var(--heading-48px-semibold-letter-spacing);
  line-height: var(--heading-48px-semibold-line-height);
  font-style: var(--heading-48px-semibold-font-style);
}

.frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  top: 269px;
  left: 67px;
}

.frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.line-2 {
  position: relative;
  width: 81px;
  height: 1px;
  object-fit: cover;
}

.line-3 {
  position: relative;
  width: 1170px;
  height: 1px;
}

.frame-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  margin: 45px 0;
}

.frame-11 {
  display: inline-flex;
  align-items: flex-end;
  gap: 691px;
  position: relative;
  flex: 0 0 auto;
}

.frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.rectangle {
  position: relative;
  width: 20px;
  height: 40px;
  background-color: var(--secondary-2);
  border-radius: 4px;
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-36px-semibold-font-family);
  font-weight: var(--heading-36px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--heading-36px-semibold-font-size);
  letter-spacing: var(--heading-36px-semibold-letter-spacing);
  line-height: var(--heading-36px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--heading-36px-semibold-font-style);
}

.frame-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.img-wrapper {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: var(--secondary);
  border-radius: 23px;
}

.img-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
}

.frame-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.category-phone {
  position: relative;
  width: 170px;
  height: 145px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000004c;
}

.text-wrapper-8 {
  position: absolute;
  top: 96px;
  left: 55px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.img-3 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 57px;
}

.text-wrapper-9 {
  position: absolute;
  top: 96px;
  left: 40px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.category-computer {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 58px;
}

.text-wrapper-10 {
  position: absolute;
  top: 96px;
  left: 34px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.category-phone-2 {
  position: relative;
  width: 170px;
  height: 145px;
  background-color: var(--secondary-2);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}

.text-wrapper-11 {
  position: absolute;
  top: 96px;
  left: 51px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.text-wrapper-12 {
  position: absolute;
  top: 96px;
  left: 53px;
  color: var(--text-2);
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.frame-16 {
  display: inline-flex;
  align-items: flex-end;
  gap: 611px;
  position: relative;
  flex: 0 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.cart {
  position: relative;
  width: 270px;
  height: 250px;
  background-color: var(--secondary);
  border-radius: 4px;
  overflow: hidden;
}

.overlap-group-2 {
  position: relative;
  width: 218px;
  height: 203px;
  top: 12px;
  left: 40px;
}

.frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 184px;
}

.img-wrapper-2 {
  position: relative;
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border-radius: 17px;
}

.img-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
}

.frame-18 {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 23px;
  left: 0;
}

.element {
  position: absolute;
  width: 140px;
  height: 146px;
  top: 17px;
  left: 25px;
}

.frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #000000;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.frame-20 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #82624e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
}

.element-cst {
  position: absolute;
  width: 178px;
  height: 129px;
  top: 26px;
  left: 6px;
}

.gammaxx-argb {
  position: absolute;
  width: 190px;
  height: 95px;
  top: 47px;
  left: 0;
}

.sam-moghadam-khamseh {
  position: absolute;
  width: 140px;
  height: 176px;
  top: 3px;
  left: 25px;
}

.frame-21 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 500px;
  background-color: #82624e;
}

.overlap-2 {
  width: 600px;
  height: 500px;
  top: 0;
  left: 526px;
}

.ellipse-4 {
  width: 504px;
  height: 500px;
  top: 0;
  left: 26px;
  background-color: #d9d9d9;
  border-radius: 252px/250px;
  filter: blur(200px);
  opacity: 0.3;
}

.JBL-BOOMBOX-HERO-wrapper {
  width: 600px;
  height: 420px;
  top: 37px;
  left: 0;
}

.JBL-BOOMBOX-HERO {
  width: 568px;
  height: 330px;
  top: 45px;
  left: 16px;
}

.text-wrapper-17 {
  width: 443px;
  top: 120px;
  left: 56px;
  font-family: var(--heading-48px-semibold-font-family);
  font-weight: var(--heading-48px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-48px-semibold-font-size);
  letter-spacing: var(--heading-48px-semibold-letter-spacing);
  line-height: var(--heading-48px-semibold-line-height);
  font-style: var(--heading-48px-semibold-font-style);
}

.frame-22 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  top: 273px;
  left: 56px;
}

.flash-sell-timer {
  position: relative;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 31px;
}

.frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 15px;
}

.text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.text-wrapper-19 {
  position: relative;
  width: 32px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 17px;
}

.text-wrapper-20 {
  position: relative;
  width: 28px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-25 {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 10px;
}

.text-wrapper-21 {
  position: relative;
  width: 43px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-26 {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 7px;
}

.text-wrapper-22 {
  position: relative;
  width: 48px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.view-all-products-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  top: 375px;
  left: 56px;
  background-color: var(--button-1);
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.text-wrapper-23 {
  top: 68px;
  left: 56px;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--button-1);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.frame-27 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.frame-28 {
  display: inline-flex;
  align-items: flex-end;
  gap: 672px;
  position: relative;
  flex: 0 0 auto;
}

.element-rdoexxtrl {
  width: 115px;
  height: 180px;
  top: 0;
  left: 38px;
}

.frame-29 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.img-5 {
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-24 {
  position: relative;
  width: 32px;
  height: 20px;
  margin-top: -1px;
  opacity: 0.5;
  font-family: var(--title-14px-semibold-font-family);
  font-weight: var(--title-14px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-semibold-font-size);
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  line-height: var(--title-14px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-semibold-font-style);
}

.overlap-3 {
  position: absolute;
  width: 270px;
  height: 41px;
  top: 209px;
  left: 0;
  background-color: #82624e;
  border-radius: 0px 0px 4px 4px;
}

.text-wrapper-25 {
  position: absolute;
  top: 7px;
  left: 87px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #ffffff;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.overlap-group-3 {
  position: absolute;
  width: 222px;
  height: 183px;
  top: 12px;
  left: 36px;
}

.frame-30 {
  top: 0;
  left: 188px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.eos-wrapper {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 3px;
  left: 0;
}

.eos {
  position: absolute;
  width: 146px;
  height: 163px;
  top: 8px;
  left: 22px;
}

.ideapad-gaming {
  position: absolute;
  width: 172px;
  height: 180px;
  top: 0;
  left: 9px;
}

.text-wrapper-26 {
  width: 40px;
  height: 20px;
  margin-top: -1px;
  opacity: 0.5;
  font-family: var(--title-14px-semibold-font-family);
  font-weight: var(--title-14px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-semibold-font-size);
  line-height: var(--title-14px-semibold-line-height);
  position: relative;
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  white-space: nowrap;
  font-style: var(--title-14px-semibold-font-style);
}

.frame-31 {
  top: 12px;
  left: 224px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.curology {
  position: absolute;
  width: 172px;
  height: 159px;
  top: 46px;
  left: 49px;
}

.overlap-group-4 {
  position: relative;
  width: 246px;
  height: 203px;
  top: 12px;
  left: 12px;
}

.frame-32 {
  top: 0;
  left: 212px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.new-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--button-1);
  border-radius: 4px;
}

.text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.frame-33 {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 23px;
  left: 28px;
}

.new-mercedes-benz {
  position: absolute;
  width: 180px;
  height: 133px;
  top: 24px;
  left: 5px;
}

.copa-sense {
  position: absolute;
  width: 186px;
  height: 164px;
  top: 8px;
  left: 2px;
}

.gp-prd {
  position: absolute;
  width: 178px;
  height: 150px;
  top: 15px;
  left: 6px;
}

.four-half-star {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.vector {
  position: relative;
  width: 14.5px;
  height: 14.3px;
}

.img-6 {
  position: relative;
  width: 20px;
  height: 20px;
}

.element-zax {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 2px;
  left: 4px;
}

.frame-34 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 4px;
}

.overlap-group-wrapper {
  position: relative;
  width: 570px;
  height: 600px;
  background-color: #82624e;
  border-radius: 4px;
  overflow: hidden;
}

.frame-wrapper {
  position: relative;
  width: 511px;
  height: 511px;
  top: 89px;
  left: 29px;
  background-image: url(./img/ps5-slim-goedkope-playstation-large-1.png);
  background-size: 100% 100%;
}

.frame-35 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  top: 357px;
  left: 3px;
}

.text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-24px-semibold-font-family);
  font-weight: var(--heading-24px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-24px-semibold-font-size);
  letter-spacing: var(--heading-24px-semibold-letter-spacing);
  line-height: var(--heading-24px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-semibold-font-style);
}

.text-wrapper-29 {
  width: 242px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  line-height: var(--title-14px-regular-line-height);
  position: relative;
  letter-spacing: var(--title-14px-regular-letter-spacing);
  font-style: var(--title-14px-regular-font-style);
}

.frame-36 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-30 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #ffffff;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.line-wrapper {
  position: relative;
  width: 81px;
  height: 1px;
  margin-bottom: -1px;
  opacity: 0.5;
}

.line-4 {
  position: absolute;
  width: 81px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.frame-37 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.frame-38 {
  position: relative;
  width: 570px;
  height: 284px;
  background-color: #0d0d0d;
  border-radius: 4px;
  overflow: hidden;
}

.overlap-group-5 {
  position: relative;
  width: 546px;
  height: 284px;
  left: 24px;
}

.attractive-woman {
  position: absolute;
  width: 432px;
  height: 284px;
  top: 0;
  left: 114px;
  object-fit: cover;
}

.frame-39 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 138px;
  left: 0;
}

.text-wrapper-31 {
  position: relative;
  width: 255px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  font-style: var(--title-14px-regular-font-style);
}

.frame-40 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.frame-41 {
  position: relative;
  width: 270px;
  height: 284px;
  background-color: var(--text-2);
  border-radius: 4px;
  overflow: hidden;
}

.overlap-group-6 {
  position: relative;
  height: 284px;
  background-image: url(./img/ellipse-24-2.svg);
  background-size: 100% 100%;
}

.element-amazon-wrapper {
  position: absolute;
  width: 210px;
  height: 222px;
  top: 31px;
  left: 30px;
}

.element-amazon {
  position: absolute;
  width: 190px;
  height: 221px;
  top: 0;
  left: 10px;
}

.frame-42 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 175px;
  left: 24px;
}

.text-wrapper-32 {
  position: relative;
  width: 191px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  font-style: var(--title-14px-regular-font-style);
}

.overlap-wrapper {
  position: relative;
  width: 270px;
  height: 284px;
  background-color: #82624e;
  border-radius: 4px;
  overflow: hidden;
}

.overlap-4 {
  position: relative;
  height: 284px;
  background-image: url(./img/ellipse-24.svg);
  background-size: 100% 100%;
}

.element-wrapper {
  position: absolute;
  width: 210px;
  height: 222px;
  top: 30px;
  left: 30px;
}

.element-e-cd-aa {
  position: absolute;
  width: 201px;
  height: 203px;
  top: 8px;
  left: 4px;
}

.fill-with-up-arrow {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: var(--secondary);
  border-radius: 23px;
  transform: rotate(-90deg);
}

.icons-arrow-up {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
  transform: rotate(90deg);
}

.footer {
  position: relative;
  width: 1440px;
  height: 440px;
  background-color: #82624e;
}

.frame-43 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.under-line-2 {
  width: 1440px;
  margin-top: -1px;
  position: relative;
  height: 1px;
  opacity: 0.5;
  background-image: url(./img/line-1-2.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.frame-44 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.frame-45 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--primary);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.frame-46 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.frame-47 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}

.element-bijoy-sarani {
  position: relative;
  width: 175px;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  font-style: "Poppins-Regular", Helvetica;
}

.text-wrapper-35 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.text-wrapper-36 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}
