.e-commerce-homepage {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  position: relative;
}

.e-commerce-homepage .top-header {
  position: relative;
  width: 1440px;
  height: 48px;
}

.e-commerce-homepage .header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 148px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame {
  display: inline-flex;
  align-items: flex-start;
  gap: 190px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .logo {
  position: relative;
  width: 118px;
  height: 29px;
}

.e-commerce-homepage .dece-df-de {
  position: absolute;
  width: 98px;
  height: 90px;
  top: -42px;
  left: 14px;
  object-fit: cover;
}

.e-commerce-homepage .div {
  display: inline-flex;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .header-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

.e-commerce-homepage .under-line {
  width: 48px;
  position: relative;
  height: 1px;
  opacity: 0.5;
  background-image: url(./img/line-1-4.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.e-commerce-homepage .div-wrapper {
  position: relative;
  width: 66px;
  height: 24px;
}

.e-commerce-homepage .text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 0;
  text-align: center;
  white-space: nowrap;
}

.e-commerce-homepage .header-3 {
  position: relative;
  width: 48px;
  height: 24px;
}

.e-commerce-homepage .sign-up-wrapper {
  position: relative;
  width: 61px;
  height: 24px;
  background-color: #ffffff;
}

.e-commerce-homepage .sign-up {
  position: absolute;
  top: -1px;
  left: 10px;
  text-align: center;
  white-space: nowrap;
}

.e-commerce-homepage .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .search-component-set {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 12px 7px 20px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.e-commerce-homepage .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  white-space: nowrap;
}

.e-commerce-homepage .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.e-commerce-homepage .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .wishlist {
  position: relative;
  width: 32px;
  height: 32px;
}

.e-commerce-homepage .with-buy {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/cart-1.svg);
  background-size: 100% 100%;
}

.e-commerce-homepage .line {
  position: relative;
  width: 1440px;
  height: 1px;
  background-image: url(./img/line-3.svg);
  background-size: 100% 100%;
}

.e-commerce-homepage .frame-5 {
  position: relative;
  width: 1170px;
  height: 344px;
}

.e-commerce-homepage .overlap {
  position: absolute;
  width: 496px;
  height: 328px;
  top: 16px;
  left: 396px;
  background-image: url(./img/hero-endframe-cvklg0xk3w6e-large-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.e-commerce-homepage .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  top: 303px;
  left: 189px;
}

.e-commerce-homepage .ellipse {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  opacity: 0.5;
}

.e-commerce-homepage .group {
  position: relative;
  width: 14px;
  height: 14px;
}

.e-commerce-homepage .overlap-group {
  position: relative;
  height: 14px;
  border-radius: 7px;
}

.e-commerce-homepage .ellipse-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 2px;
  border-radius: 5px;
}

.e-commerce-homepage .ellipse-3 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border-radius: 7px;
  border: 2px solid;
}

.e-commerce-homepage .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 58px;
  left: 64px;
}

.e-commerce-homepage .element-apple-gray {
  position: relative;
  width: 40px;
  height: 49px;
}

.e-commerce-homepage .text-wrapper-3 {
  position: relative;
  width: 126px;
  height: 20px;
  text-align: center;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-4 {
  position: absolute;
  width: 294px;
  top: 126px;
  left: 64px;
}

.e-commerce-homepage .frame-8 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 269px;
  left: 67px;
}

.e-commerce-homepage .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  text-align: center;
  white-space: nowrap;
}

.e-commerce-homepage .line-2 {
  position: relative;
  width: 81px;
  height: 1px;
  object-fit: cover;
}

.e-commerce-homepage .line-3 {
  position: relative;
  width: 1170px;
  height: 1px;
}

.e-commerce-homepage .frame-10 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-11 {
  display: inline-flex;
  align-items: flex-end;
  gap: 691px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-12 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-13 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .rectangle {
  position: relative;
  width: 20px;
  height: 40px;
  border-radius: 4px;
}

.e-commerce-homepage .text-wrapper-6 {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-7 {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.e-commerce-homepage .frame-14 {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .img-wrapper {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 23px;
}

.e-commerce-homepage .img-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
}

.e-commerce-homepage .frame-15 {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .category-phone {
  position: relative;
  width: 170px;
  height: 145px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000004c;
}

.e-commerce-homepage .text-wrapper-8 {
  position: absolute;
  top: 96px;
  left: 55px;
  white-space: nowrap;
}

.e-commerce-homepage .img-3 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 57px;
}

.e-commerce-homepage .text-wrapper-9 {
  position: absolute;
  top: 96px;
  left: 40px;
  white-space: nowrap;
}

.e-commerce-homepage .category-computer {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 58px;
}

.e-commerce-homepage .text-wrapper-10 {
  position: absolute;
  top: 96px;
  left: 34px;
  white-space: nowrap;
}

.e-commerce-homepage .category-phone-2 {
  position: relative;
  width: 170px;
  height: 145px;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .text-wrapper-11 {
  position: absolute;
  top: 96px;
  left: 51px;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-12 {
  position: absolute;
  top: 96px;
  left: 53px;
  white-space: nowrap;
}

.e-commerce-homepage .frame-16 {
  display: inline-flex;
  align-items: flex-end;
  gap: 611px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.e-commerce-homepage .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .cart {
  position: relative;
  width: 270px;
  height: 250px;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .overlap-group-2 {
  position: relative;
  width: 218px;
  height: 203px;
  top: 12px;
  left: 40px;
}

.e-commerce-homepage .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 184px;
}

.e-commerce-homepage .img-wrapper-2 {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 17px;
}

.e-commerce-homepage .img-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
}

.e-commerce-homepage .frame-18 {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 23px;
  left: 0;
}

.e-commerce-homepage .element {
  position: absolute;
  width: 140px;
  height: 146px;
  top: 17px;
  left: 25px;
}

.e-commerce-homepage .frame-19 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #000000;
  white-space: nowrap;
}

.e-commerce-homepage .frame-20 {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
}

.e-commerce-homepage .element-cst {
  position: absolute;
  width: 178px;
  height: 129px;
  top: 26px;
  left: 6px;
}

.e-commerce-homepage .gammaxx-argb {
  position: absolute;
  width: 190px;
  height: 95px;
  top: 47px;
  left: 0;
}

.e-commerce-homepage .sam-moghadam-khamseh {
  position: absolute;
  width: 140px;
  height: 176px;
  top: 3px;
  left: 25px;
}

.e-commerce-homepage .frame-21 {
  position: relative;
  width: 1170px;
  height: 500px;
}

.e-commerce-homepage .overlap-2 {
  position: absolute;
  width: 600px;
  height: 500px;
  top: 0;
  left: 526px;
}

.e-commerce-homepage .ellipse-4 {
  position: absolute;
  width: 504px;
  height: 500px;
  top: 0;
  left: 26px;
  background-color: #d9d9d9;
  border-radius: 252px/250px;
  filter: blur(200px);
  opacity: 0.3;
}

.e-commerce-homepage .JBL-BOOMBOX-HERO-wrapper {
  position: absolute;
  width: 600px;
  height: 420px;
  top: 37px;
  left: 0;
}

.e-commerce-homepage .JBL-BOOMBOX-HERO {
  position: absolute;
  width: 568px;
  height: 330px;
  top: 45px;
  left: 16px;
}

.e-commerce-homepage .text-wrapper-17 {
  position: absolute;
  width: 443px;
  top: 120px;
  left: 56px;
}

.e-commerce-homepage .frame-22 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 273px;
  left: 56px;
}

.e-commerce-homepage .flash-sell-timer {
  position: relative;
  width: 62px;
  height: 62px;
  border-radius: 31px;
}

.e-commerce-homepage .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 15px;
}

.e-commerce-homepage .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-19 {
  position: relative;
  width: 32px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.e-commerce-homepage .frame-24 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 17px;
}

.e-commerce-homepage .text-wrapper-20 {
  position: relative;
  width: 28px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.e-commerce-homepage .frame-25 {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 10px;
}

.e-commerce-homepage .text-wrapper-21 {
  position: relative;
  width: 43px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.e-commerce-homepage .frame-26 {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 7px;
}

.e-commerce-homepage .text-wrapper-22 {
  position: relative;
  width: 48px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.e-commerce-homepage .view-all-products-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: absolute;
  top: 375px;
  left: 56px;
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.e-commerce-homepage .text-wrapper-23 {
  position: absolute;
  top: 68px;
  left: 56px;
  white-space: nowrap;
}

.e-commerce-homepage .frame-27 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-28 {
  display: inline-flex;
  align-items: flex-end;
  gap: 672px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .element-rdoexxtrl {
  position: absolute;
  width: 115px;
  height: 180px;
  top: 0;
  left: 38px;
}

.e-commerce-homepage .frame-29 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .img-5 {
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-24 {
  position: relative;
  width: 32px;
  height: 20px;
  margin-top: -1px;
  opacity: 0.5;
  white-space: nowrap;
}

.e-commerce-homepage .overlap-3 {
  position: absolute;
  width: 270px;
  height: 41px;
  top: 209px;
  left: 0;
  border-radius: 0px 0px 4px 4px;
}

.e-commerce-homepage .text-wrapper-25 {
  position: absolute;
  top: 7px;
  left: 87px;
  color: #ffffff;
  white-space: nowrap;
}

.e-commerce-homepage .overlap-group-3 {
  position: absolute;
  width: 222px;
  height: 183px;
  top: 12px;
  left: 36px;
}

.e-commerce-homepage .frame-30 {
  top: 0;
  left: 188px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.e-commerce-homepage .eos-wrapper {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 3px;
  left: 0;
}

.e-commerce-homepage .eos {
  position: absolute;
  width: 146px;
  height: 163px;
  top: 8px;
  left: 22px;
}

.e-commerce-homepage .ideapad-gaming {
  position: absolute;
  width: 172px;
  height: 180px;
  top: 0;
  left: 9px;
}

.e-commerce-homepage .text-wrapper-26 {
  width: 40px;
  height: 20px;
  margin-top: -1px;
  opacity: 0.5;
  position: relative;
  white-space: nowrap;
}

.e-commerce-homepage .frame-31 {
  top: 12px;
  left: 224px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.e-commerce-homepage .curology {
  position: absolute;
  width: 172px;
  height: 159px;
  top: 46px;
  left: 49px;
}

.e-commerce-homepage .overlap-group-4 {
  position: relative;
  width: 246px;
  height: 203px;
  top: 12px;
  left: 12px;
}

.e-commerce-homepage .frame-32 {
  top: 0;
  left: 212px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
}

.e-commerce-homepage .new-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 12px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.e-commerce-homepage .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .frame-33 {
  position: absolute;
  width: 190px;
  height: 180px;
  top: 23px;
  left: 28px;
}

.e-commerce-homepage .new-mercedes-benz {
  position: absolute;
  width: 180px;
  height: 133px;
  top: 24px;
  left: 5px;
}

.e-commerce-homepage .copa-sense {
  position: absolute;
  width: 186px;
  height: 164px;
  top: 8px;
  left: 2px;
}

.e-commerce-homepage .gp-prd {
  position: absolute;
  width: 178px;
  height: 150px;
  top: 15px;
  left: 6px;
}

.e-commerce-homepage .four-half-star {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .vector {
  position: relative;
  width: 14.5px;
  height: 14.3px;
}

.e-commerce-homepage .img-6 {
  position: relative;
  width: 20px;
  height: 20px;
}

.e-commerce-homepage .element-zax {
  position: absolute;
  width: 182px;
  height: 176px;
  top: 2px;
  left: 4px;
}

.e-commerce-homepage .frame-34 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.e-commerce-homepage .overlap-group-wrapper {
  position: relative;
  width: 570px;
  height: 600px;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .frame-wrapper {
  position: relative;
  width: 511px;
  height: 511px;
  top: 89px;
  left: 29px;
  background-image: url(./img/ps5-slim-goedkope-playstation-large-1.png);
  background-size: 100% 100%;
}

.e-commerce-homepage .frame-35 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  top: 357px;
  left: 3px;
}

.e-commerce-homepage .text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-29 {
  width: 242px;
  position: relative;
}

.e-commerce-homepage .frame-36 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-30 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #ffffff;
  white-space: nowrap;
}

.e-commerce-homepage .line-wrapper {
  position: relative;
  width: 81px;
  height: 1px;
  margin-bottom: -1px;
  opacity: 0.5;
}

.e-commerce-homepage .line-4 {
  position: absolute;
  width: 81px;
  height: 1px;
  top: -1px;
  left: 0;
  object-fit: cover;
}

.e-commerce-homepage .frame-37 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-38 {
  position: relative;
  width: 570px;
  height: 284px;
  background-color: #0d0d0d;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .overlap-group-5 {
  position: relative;
  width: 546px;
  height: 284px;
  left: 24px;
}

.e-commerce-homepage .attractive-woman {
  position: absolute;
  width: 432px;
  height: 284px;
  top: 0;
  left: 114px;
  object-fit: cover;
}

.e-commerce-homepage .frame-39 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 138px;
  left: 0;
}

.e-commerce-homepage .text-wrapper-31 {
  position: relative;
  width: 255px;
}

.e-commerce-homepage .frame-40 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .frame-41 {
  position: relative;
  width: 270px;
  height: 284px;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .overlap-group-6 {
  position: relative;
  height: 284px;
  background-image: url(./img/ellipse-24-2.svg);
  background-size: 100% 100%;
}

.e-commerce-homepage .element-amazon-wrapper {
  position: absolute;
  width: 210px;
  height: 222px;
  top: 31px;
  left: 30px;
}

.e-commerce-homepage .element-amazon {
  position: absolute;
  width: 190px;
  height: 221px;
  top: 0;
  left: 10px;
}

.e-commerce-homepage .frame-42 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 175px;
  left: 24px;
}

.e-commerce-homepage .text-wrapper-32 {
  position: relative;
  width: 191px;
}

.e-commerce-homepage .overlap-wrapper {
  position: relative;
  width: 270px;
  height: 284px;
  border-radius: 4px;
  overflow: hidden;
}

.e-commerce-homepage .overlap-4 {
  position: relative;
  height: 284px;
  background-image: url(./img/ellipse-24.svg);
  background-size: 100% 100%;
}

.e-commerce-homepage .element-wrapper {
  position: absolute;
  width: 210px;
  height: 222px;
  top: 30px;
  left: 30px;
}

.e-commerce-homepage .element-e-cd-aa {
  position: absolute;
  width: 201px;
  height: 203px;
  top: 8px;
  left: 4px;
}

.e-commerce-homepage .fill-with-up-arrow {
  position: relative;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  transform: rotate(-90deg);
}

.e-commerce-homepage .icons-arrow-up {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
  transform: rotate(90deg);
}

.e-commerce-homepage .footer {
  position: relative;
  width: 1440px;
  height: 440px;
}

.e-commerce-homepage .frame-43 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.e-commerce-homepage .under-line-2 {
  width: 1440px;
  margin-top: -1px;
  position: relative;
  height: 1px;
  opacity: 0.5;
  background-image: url(./img/line-1-2.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.e-commerce-homepage .frame-44 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.e-commerce-homepage .frame-45 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .frame-46 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.e-commerce-homepage .frame-47 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.e-commerce-homepage .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}

.e-commerce-homepage .element-bijoy-sarani {
  position: relative;
  width: 175px;
  margin-top: -1px;
}

.e-commerce-homepage .text-wrapper-35 {
  position: relative;
  width: fit-content;
  white-space: nowrap;
}

.e-commerce-homepage .text-wrapper-36 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
}
