body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
  cursor: pointer;
}

section, main{
  margin:4rem 0;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 10px;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 4px;
  text-decoration: none;
  font-family: "Poppins-Regular", Helvetica;
  text-align: center;
  white-space: nowrap;
  font-weight: 16px;
  color: white;
}
.top-header {
  width: 100vw;
  height: 46px;
  background-color: #82624e;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  flex: 0 0 auto;
  margin: 45px 0px;
}

i[class*="fi fi-rr-search"] {
  font-size: 18px;
}

.frame {
  display: flex;
  align-items: flex-start;
  gap: 190px;
}

.logo {
  width: 118px;
  height: 29px;
}

.dece-df-de {
  top: 25%; /* Move the image vertically 50% from the top */
  left: 25%; /* Move the image horizontally 50% from the left */
  transform: translate(-25%, -25%);
  width: 6em;
  height: 6em;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-right: 48px;
}

.nav-button{
  text-decoration: none;
  font-family: "Poppins-Regular", Helvetica;
  text-align: center;
  white-space: nowrap;
  font-weight: 16px;
  color: black;
}
.nav-button {
  padding: 8px 16px;
  border-radius: 4px;
}
.nav-button:hover {
  transition: 0.1s;
  background-color: #ce9b7b;
}

.header-3 {
  position: relative;
  width: 48px;
  height: 24px;
}

.frame-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  position: relative;
  flex: 0 0 auto;
}

.p {
  position: relative;
  width: fit-content;
  opacity: 0.5;
  font-family: var(--title-12px-regular-font-family);
  font-weight: var(--title-12px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-12px-regular-font-size);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-12px-regular-font-style);
}

.img {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.highlights-carousel-bg {
  background-color: #000000;
  padding: 50px 210px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 38px;
}

.highlights-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: lightgrey 2px solid;
  border-top: lightgrey 2px solid;
}

.text-wrapper-3 {
  position: relative;
  width: 126px;
  height: 20px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}

.text-wrapper-4 {
  width: 294px;
  font-family: var(--heading-48px-semibold-font-family);
  font-weight: var(--heading-48px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-48px-semibold-font-size);
  letter-spacing: var(--heading-48px-semibold-letter-spacing);
  line-height: var(--heading-48px-semibold-line-height);
  font-style: var(--heading-48px-semibold-font-style);
}

.frame-8 {
  display: flex;
  align-items: center;
  gap: 8px;
  top: 269px;
  left: 67px;
}

.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.line-2 {
  position: relative;
  width: 81px;
  height: 1px;
  object-fit: cover;
}

.line-3 {
  position: relative;
  width: 1170px;
  height: 1px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}

.frame-11 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.frame-13 {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.rectangle {
  position: relative;
  width: 20px;
  height: 40px;
  background-color: var(--secondary-2);
  border-radius: 4px;
}

i {
  font-size: 46px;
}

.text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--heading-36px-semibold-font-family);
  font-weight: var(--heading-36px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--heading-36px-semibold-font-size);
  letter-spacing: var(--heading-36px-semibold-letter-spacing);
  line-height: var(--heading-36px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--heading-36px-semibold-font-style);
}

.frame-14 {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.img-wrapper {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: var(--secondary);
  border-radius: 23px;
}

.img-2 {
  width: 24px;
  height: 24px;
  top: 11px;
  left: 11px;
}

.frame-15 {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}
.category-choice a {
  text-decoration: none;
  color: #ce9b7b;
}
.category-choice a:hover {
  color: #ffc81b;
}

.category-choice {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 170px;
  height: 145px;
  border-radius: 4px;
  overflow: hidden;
  border: #b3b3b3 1px solid;
}
.category-choice:hover {
  background-color: #db4444;
  transition: 0.1s;
}

.img-3 {
  width: 56px;
  height: 56px;
  top: 25px;
  left: 57px;
}

.category-computer {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 58px;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: "Poppins-Regular", Helvetica;
}
.text-wrapper-10 {
  position: absolute;
  top: 96px;
  left: 34px;
}

.category-phone-2 {
  position: relative;
  width: 170px;
  height: 145px;
  background-color: var(--secondary-2);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}

.frame-16 {
  width: 100%;
  display: flex;
  position: relative;
}



.text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.cart {
  position: relative;
  width: 270px;
  height: 250px;
  background-color: var(--secondary);
  border-radius: 4px;
  overflow: hidden;
}

.behind-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlap-group {
  position: relative;
  width: 218px;
  height: 203px;
  top: 12px;
  left: 40px;
}

.frame-17 {
  display: flex;
  justify-content: flex-end;
}

.img-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border-radius: 17px;
}

.img-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
}

.frame-18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 190px;
  height: 180px;
}

.element {
  width: 140px;
  height: 140px;
  clip: auto;
}

.frame-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: #000000;
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.frame-20 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #82624e;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: line-through;
  white-space: nowrap;
}

.gammaxx-argb {
  width: 190px;
  height: 95px;
  top: 47px;
  left: 0;
}

.sam-moghadam-khamseh {
  width: 140px;
  height: 176px;
  top: 3px;
  left: 25px;
}

.highlights-2-bg {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 400px;
  background-color: #82624e;
}

.overlap-2 {
  width: 600px;
  height: 500px;
}

.JBL-BOOMBOX-HERO {
  width: 568px;
  height: 330px;
}
.highlights-2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-wrapper-17 {
  width: 443px;
  top: 120px;
  left: 56px;
  font-family: var(--heading-48px-semibold-font-family);
  font-weight: var(--heading-48px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-48px-semibold-font-size);
  letter-spacing: var(--heading-48px-semibold-letter-spacing);
  line-height: var(--heading-48px-semibold-line-height);
  font-style: var(--heading-48px-semibold-font-style);
}

.frame-22 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  top: 273px;
  left: 56px;
}

.flash-sell-timer {
  position: relative;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 31px;
}

.frame-23 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 15px;
}

.text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.text-wrapper-19 {
  position: relative;
  width: 32px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 14px;
  left: 17px;
}

.text-wrapper-20 {
  position: relative;
  width: 28px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-25 {
  display: flex;
  flex-direction: column;
  width: 42px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 10px;
}

.text-wrapper-21 {
  position: relative;
  width: 43px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.frame-26 {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-items: center;
  position: relative;
  top: 14px;
  left: 7px;
}

.text-wrapper-22 {
  position: relative;
  width: 48px;
  margin-top: -4px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-2);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}

.view-all-products-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  top: 375px;
  left: 56px;
  background-color: var(--button-1);
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.text-wrapper-23 {
  top: 68px;
  left: 56px;
  font-family: var(--title-16px-semibold-font-family);
  font-weight: var(--title-16px-semibold-font-weight);
  color: var(--button-1);
  font-size: var(--title-16px-semibold-font-size);
  letter-spacing: var(--title-16px-semibold-letter-spacing);
  line-height: var(--title-16px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-semibold-font-style);
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.frame-29 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-24 {
  position: relative;
  width: 32px;
  height: 20px;
  margin-top: -1px;
  opacity: 0.5;
  font-family: var(--title-14px-semibold-font-family);
  font-weight: var(--title-14px-semibold-font-weight);
  color: var(--text-2);
  font-size: var(--title-14px-semibold-font-size);
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  line-height: var(--title-14px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--title-14px-semibold-font-style);
}

.frame-34 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgba(219, 68, 68, 1);
  border-radius: 4px;
}

.overlap-group-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 570px;
  height: 600px;
  background-color: #82624e;
  border-radius: 4px;
  overflow: hidden;
}

.frame-wrapper {
  display: flex;
  width: 511px;
  height: 511px;
  background-image: url(./img/showcase.jpg);
  background-size: 100% 100%;
}

.frame-35 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 2em;
  padding-left: 1em;
}

.text-wrapper-28 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-24px-semibold-font-family);
  font-weight: var(--heading-24px-semibold-font-weight);
  color: var(--text);
  font-size: var(--heading-24px-semibold-font-size);
  letter-spacing: var(--heading-24px-semibold-letter-spacing);
  line-height: var(--heading-24px-semibold-line-height);
  white-space: nowrap;
  font-style: var(--heading-24px-semibold-font-style);
}

.frame-36 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame-37 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.frame-38 {
  position: relative;
  width: 570px;
  height: 284px;
  background-color: #0d0d0d;
  border-radius: 4px;
  overflow: hidden;
}

.overlap-group-5 {
  background-image: url(img/CannedGoods_variety.jpg);
  position: relative;
  width: 546px;
  height: 284px;
  background-size: 100% 100%;
  left: 3rem;
}

.frame-39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 138px;
  left: 0;
}

.text-wrapper-31 {
  position: relative;
  width: 255px;
  font-family: var(--title-14px-regular-font-family);
  font-weight: var(--title-14px-regular-font-weight);
  color: var(--text);
  font-size: var(--title-14px-regular-font-size);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  font-style: var(--title-14px-regular-font-style);
}

.frame-40 {
  display: flex;
  align-items: space-between;
  justify-content: center;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.frame-41 {
  width: 270px;
  height: 284px;
  background-color: var(--text-2);
  border-radius: 4px;
  overflow: hidden;
}

.element-rice-wrapper {
  width: 210px;
  height: 222px;
  top: 31px;
  left: 30px;
}

.element-rice {
  width: 190px;
  height: 221px;
  top: 0;
  left: 10px;
}

.frame-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.overlap-wrapper {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 284px;
  background-color: #82624e;
  border-radius: 4px;
  overflow: hidden;
}

.element-wrapper {
  width: 210px;
  height: 222px;
}

.element-e-cd-aa {
  width: 201px;
  height: 203px;
  top: 8px;
  left: 4px;
}
.fill-with-up-arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(-50px);
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100vw;
  height: 340px;
  background-color: #82624e;
}

.frame-43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  top: 376px;
  left: 0;
  opacity: 0.4;
}

.frame-44 {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  opacity: 0.6;
}

.frame-45 {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.frame-46 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 87px;
  position: absolute;
  top: 80px;
  left: 135px;
}

.frame-47 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-20px-medium-font-family);
  font-weight: var(--title-20px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-20px-medium-font-size);
  letter-spacing: var(--title-20px-medium-letter-spacing);
  line-height: var(--title-20px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-20px-medium-font-style);
}


.contact{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding:0 5rem;
}
 .frame-5{
  width: 50%px;
  height: 457px;
  background-color: var(--primary);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: var(--categogy-5);
}
.frame-5 .frame-6{
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  top: 40px;
  left: 31px;
  display: inline-flex;
  position: relative;
}


.frame-5 .frame-7 {
  align-items: flex-start;
  gap: 16px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame-5 .placebox-info {
  position: relative;
  width: 235px;
  height: 50px;
  background-color: var(--secondary);
  border-radius: 4px;
}
.frame-5 .md-wrapper {
  position: relative;
  width: 737px;
  height: 207px;
  background-color: var(--secondary);
  border-radius: 4px;
}

.frame-5 .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--button-2);
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}