body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}
.open{
  display:none;
}
.options{
  display: flex;
  justify-content: center;
  align-items: center;

}
.topnav {
  background-color: #851818;
}
nav ul li{
  padding: 1rem; 
}
nav ul li:hover{
  background-color: #ab1e1e;
}
nav ul {
  margin: 0;
  font-size: 17px;
  list-style: none;
  background-color: #851818;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
}
input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 600px) {
  .options{
    display: none;
  }
  .open{
    display:block;
    font-size: 2rem;
    padding: 0 1rem;
  }

  #menu:checked ~ nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 3em;
    height: 100vh;
  }

  #menu:checked ~ nav {
    width: 100%;
    background-color: #851818;
    position: fixed;
  }
}
