body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-bg{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: url(../images/banig.webp) repeat center fixed;
}

.topleaf{
    z-index: 1;
    position: fixed;
    margin: 0;
    padding: 0;
}
.image-responsive{
    max-width: 100%;
}
.text-right{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff500;
}
.text-above{
    font-size: 30px;
    font-weight: bold;
    font-family: bowlby one,cursive;
    color: #f8222c;
    padding: 20px 5px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}
main{
    display: flex;
    justify-content: space-between;
}