body,
div {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  margin-top: 80px;
}

.topleaf {
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 0;
}
.image-responsive {
  max-width: 100%;
}
.text-right {
  padding: 20px 30px;
  max-height: 385px;
  max-width: 46%;
  flex-direction: column;
  align-items: center;
  background-color: #fff500;
}
.text-above {
  font-size: 30px;
  font-weight: bold;
  color: #f8222c;
  padding: 20px 5px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
main {
  display: flex;
  justify-content: space-between;
}

.main-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background: url(../images/banig.webp) repeat ;
}
.image-main-bg{
    height: auto;
    width: 250px;
    object-fit: cover;
}