/* Remove float properties */
[class*="col-"] {
  padding: 30px;
  border: 2px solid #ff0000;
}

/* Update column width classes using CSS Grid */
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
  
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.catchy{
  font-weight: bold;
  font-size: 24px; /* Adjust the font size as needed */
  color: #427ca3; /* Shade of green */
  background-color: #e0e0e0; /* Tone of grey *//* Light pink background */
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'montserrat', sans-serif;
}

.headerimage {
  height: auto;
  max-height: 450px;
  overflow: hidden;
  display: flex;
}
.headerimage img {
  height: auto;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5fa0d9;
  top: 0;
  width: 100%;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
div ul li {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 3em 0 0 0;
  background-color: #aac5cb;
  padding: 10%;
  list-style: none;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
div ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav li a:hover {
  background-color: #416e95;
}
body {
  margin: 0;
}

div p {
  font-weight: 300;
  text-align: justify;
  font-family: 'montserrat', sans-serif;
}
footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272727;
  color: #787878;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p {
  padding: 20px;
  margin: 0;
  align-items: center;
  align-content: center;
}

.right-image {
  width: 100%;
  height: auto;
  margin-top:3em;
  margin-bottom:3em;
  
}

.third-image{
  width: 50%;
  height: auto;
  margin-left:25%;
}
@media screen and (max-width: 1120px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-4-tab {
    grid-column: span 1;
  }

  .col-5-tab {
    grid-column: span 2;
  }

  .right-image {
    grid-column: span 1;
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 668px) {
  .main {
    grid-template-columns: 1fr;
    grid-column: span 1;
  }

  .right-image {
    grid-column: span 1;
    width: 100%;
    height: auto;
  }
}
